

<h2>Log in</h2>

<!-- Displaying input errors-->
<%= render 'shared/errors' %>

<!-- Passing filter params in order to preserve existing 
filters during log in-->
<form action="<%= session_url(filter: filter_params) %>" method="post">
    <%= auth_token %>

    <label for="username">Username</label>
    <input type="text" name="session[username]" id="username">

    <label for="password">Password</label>
    <input type="password" name="session[password]" id="password">

    <input type="submit" value="Log in">
</form>

