<section class="form">

    <h2>Sign up</h2>

    <%= render 'shared/errors' %>

    <form action="<%= users_url %>" method="post">
        <%= auth_token %>

        <!--<label for="username">Username</label>-->
        <input type="text" 
                name="user[username]" 
                id="username" 
                <%= !@user.username.blank? ? 
                    "value=#{@user.username}" :
                    "placeholder=Username"
                %>>

        <!--<label for="password">Password</label>-->
        <input type="password" 
                name="user[password]" 
                id="password" 
                placeholder=Password>

        <input type="submit" value="Sign up">
    </form>

</section>