/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* @import url(stylesheets/header.css);
@import url(stylesheets/filter_bar.css);
@import url(stylesheets/new_movie_button.css);
@import url(stylesheets/article_section.css);
@import url(stylesheets/form.css); */

/* CSS RESET*/
 header,section,form,ul,li,a,h1,h2,
 nav,body,small,article,input,select,
 option,label,textarea{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    
    font-size:100%;
    font: inherit;
    font-style:inherit;
    text-decoration:inherit;
    vertical-align: baseline;

    background: transparent;
 }

 ul{
     list-style:none
 }

select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

/*GRID BOX LAYOUT */

body{
    font-family:'Times New Roman', Times, serif;
    display: grid;
    
    grid-auto-rows: minmax(54px, auto);
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px 20px;
    padding: 60px;
    margin:  0 auto;
    min-width:650px;                          
    max-width:900px;

}











