/* FILTER BAR*/
.filter_bar{
    grid-row-start: 2;
    grid-column: 1 / span 2;
}

.filter_bar{
    display:flex;
    justify-content:flex-start ;
    align-items:center;
    background-color:lightgray;
    border:3px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding-left:10px;
}

.filter_bar form label{
    margin: 0 5px;
}

.filter_bar form select{
    color: black;
    background-color: white;
    border-radius: 5px;
    border:1px solid rgb(148, 146, 146);
}

.filter_bar select:hover{
    border-color:rgb(43, 42, 42);
}
/*Apply and Reset buttons*/
.filter_bar input{
    color: rgb(31, 30, 30);
    background-color:rgb(216, 213, 213);
    border: 1px solid rgb(109, 106, 106);
    border-radius: 2px;
    box-shadow: 1px 1px;
    margin: 0 5px;
    padding:0 5px;

}

.filter_bar input:active{
    box-shadow: none;
}

/*buttons that reset specific filter*/
.filter_bar ul li{
    color: rgb(88, 88, 88);
    background-color:rgb(224, 218, 203);
    border: 1px solid rgb(83, 82, 82);
    border-radius: 5px;
    margin: 2px 5px;
    font-size: 10px;
    padding: 1px 0 0 5px;
    width:fit-content;
    
}

.filter_bar ul form {
    display:inline-block;
}

.filter_bar ul input{
    border:none;
    box-shadow:none;
    background-color:transparent;
}